@model MyBook.Models.BuySubscrViewModel
<!DOCTYPE html>
<html>
<head>
    <title>subscription</title>
</head>
<body>
    <div class="container-fluid">
        <div class="headings">
            <h1>Подписка</h1>
            <p>Выберите подписку</p>
        </div>
        <div class="container-fluid" id="subscription">


            <div class="row">
                <div class="col-3">
                    <h3> Премиум </h3>
                    <h5> 899 руб./месяц </h5>
                    <br>
                    <br>
                    <button type="button" class="btn btn-primary" id="btn-subscr">
                        <span>Оформить</span>
                    </button>
                </div>
                <div class="col-9 ">
                    📚 Все книги
                    <br>
                    💌 Персональные рекомендации
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <h3> Выберите автора для подписки </h3>
                    <h5> 399 руб./месяц </h5>
                    <br>
                    <br>
                    <button type="button" class="btn btn-primary" id="btn-subscr">
                        <span>Оформить</span>
                    </button>
                </div>
                <div class="col-9 ">
                    📚 Выберите автора и получите доступ ко всем его произведениям
                    <br>
                    <br>
                    <form class="input-group" method="post" asp-action="SearchAuthor">
                        <input type="search" class="form-control rounded" placeholder="Искать" aria-label="Search" aria-describedby="search-addon" />
                        <button type="submit" class="btn btn-outline-primary">искать</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <h3> Выберите жанр для подписки </h3>
                    <h5> 399 руб./месяц </h5>
                    <br>
                    <br>
                    <button type="button" class="btn btn-primary" id="btn-subscr">
                        <span>Оформить</span>
                    </button>
                </div>
                <div class="col-9 ">
                    📚 Выберите жанр и получите доступ ко всем произведениям, относящимся к нему
                    <br>
                    <br>
                    <form class="seldiv" method="post" asp-action="SubscrForGenre">
                        <label>Выберите жанр: </label>
                        <select id="selecttheme">
                            <input list="genre-list" class="form-control" id="genre-input">
                            <datalist id="genres-list">
                                @foreach (var genre in Model.Genres)
                                {
                                    <option value="@genre.GenreId">@genre.Name</option>
                                }
                            </datalist>
                        </select>
                    </form>
                </div>
            </div>

        </div>
    </div>

</body>
</html>