<!DOCTYPE html>
<html>
<head>
    <title>subscription</title>
</head>
<body>
<div class="container-fluid">
  <div class="headings">
  <h1>Подписка</h1>
  <p>Выберите подписку</p>
  </div>
  <div class="container-fluid" id="subscription">
    <div class="row">
      <div class="col-3">
        <h3> Стандарт </h3>
        <h5> 229 руб./месяц </h5>
         <br>
         <br>
          <button type="button" class="btn btn-primary"  id="btn-subscr">
                       <span>Оформить</span>
                     </button>
      </div>
      <div class="col-9 ">
        📚 Ограниченный каталог книг
        <br>
        💌 Персональные рекомендации
        <br>
      </div>
    </div>
    
    <div class="row">
      <div class="col-3">
        <h3> Премиум </h3>
        <h5> 549 руб./месяц </h5>
         <br>
         <br>
          <button type="button" class="btn btn-primary"  id="btn-subscr">
                       <span>Оформить</span>
                     </button>
      </div>
      <div class="col-9 ">
        📚 Все книги
        <br>
        🎙️ Все аудиокниги, подкасты и лекции
        <br>
        ↔️ Синхронизация текста и аудио
        <br>
        💌 Персональные рекомендации
        <br>
      </div>
    </div>
    
    <div class="row">
          <div class="col-3">
            <h3> Семейная </h3>
            <h5> 899 руб./месяц </h5>
            <br>
            <br>
             <button type="button" class="btn btn-primary"  id="btn-subscr">
              <span>Оформить</span>
            </button>
          </div>
          <div class="col-9 ">
            👪 3 аккаунта с премиум-подпиской
             <br>
            🔑 Другие участники не будут знать, что вы читаете
             <br>
            🗓 Сохраним оставшиеся дни активной подписки
            <br>
          </div>
        </div>
        
    <div class="row">
      <div class="col-3">
        <h3> Любимый автор </h3>
        <h5> 399 руб./месяц </h5>
        <br>
        <br>
        <button type="button" class="btn btn-primary" id="btn-subscr">
                     <span>Оформить</span>
                   </button>
      </div>
      <div class="col-9 ">
        📚 Выберите автора и получите доступ ко всем его произведениям
        <br>
        <br>
     <div class="input-group">
     <input type="search" class="form-control rounded" placeholder="Искать" aria-label="Search" aria-describedby="search-addon" />
    <button type="button" class="btn btn-outline-primary">искать</button>
     </div>
      </div>
    </div>
        <div class="row">
              <div class="col-3">
                <h3> Любимый жанр </h3>
                <h5> 399 руб./месяц </h5>
                <br>
                <br>
                 <button type="button" class="btn btn-primary" id="btn-subscr">
                              <span>Оформить</span>
                            </button>
              </div>
              <div class="col-9 ">
                📚 Выберите жанр и получите доступ ко всем произведениям, относящимся к нему
                <br>
                <br>
                <div class="seldiv">
                <label>Выберите жанр: </label>
                <select id="selecttheme">
                    <option value="">Фэнтези</option>
                    <option value="">Детективы</option>
                    <option value="">Приключения</option>
                    <option value="">Классическая</option>
                    <option value="">Научно-популярная</option>
                </select>
                
                </div>
              </div>
            </div>

  </div>
</div>

</body>
</html>