@model MyBook.Models.BuySubscrViewModel
<!DOCTYPE html>
<html>
<head>
    <title>subscription</title>
</head>
<body>
    <div class="container-fluid">
        <div class="headings">
            <h1>Подписка</h1>
            <p>Выберите подписку</p>
        </div>
        <div class="container-fluid" id="subscription">


            <div class="row">
                <div class="col-3">
                    <h3> Премиум </h3>
                    <h5> 899 руб./месяц </h5>
                    <br>
                    <br>
                    <button type="button" class="btn btn-primary" id="btn-subscr">
                        <span>Оформить</span>
                    </button>
                </div>
                <div class="col-9 ">
                    📚 Все книги
                    <br>
                    💌 Персональные рекомендации
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <h3> Выберите автора для подписки </h3>
                    <h5> 399 руб./месяц </h5>
                    <br>
                    <br>
                    <button type="button" class="btn btn-primary" id="btn-subscr">
                        <span>Оформить</span>
                    </button>
                </div>
                <div class="col-9 ">
                    📚 Выберите автора и получите доступ ко всем его произведениям
                    <br>
                    <br>
                    <form class="seldiv" method="post" asp-action="SubscrForAuthor">
                        <label>Выберите автора: </label>
                        <input list="author-list" class="form-control" id="author-input">
                        <datalist id="author-list">
                            @foreach (var author in Model.Authors)
                            {
                                <option value="@author.Name"></option>
                            }
                        </datalist>
                        <button type="submit"></button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <h3> Выберите жанр для подписки </h3>
                    <h5> 399 руб./месяц </h5>
                    <br>
                    <br>
                    <button type="button" class="btn btn-primary" id="btn-subscr">
                        <span>Оформить</span>
                    </button>
                </div>
                <div class="col-9 ">
                    📚 Выберите жанр и получите доступ ко всем произведениям, относящимся к нему
                    <br>
                    <br>
                    <form class="seldiv" method="post" asp-action="SubscrForGenre">
                        <label>Выберите жанр: </label>
                        <input list="genre-list" class="form-control" id="genre-input">
                        <datalist id="genre-list">
                            @foreach (var genre in Model.Genres)
                            {
                                <option value="@genre.Name"></option>
                            }
                        </datalist>
                        <button type="submit"></button>
                    </form>
                </div>
            </div>

        </div>
    </div>

</body>
</html>