<!DOCTYPE html>

<html>
<head>
    <title>subscription pay</title>
</head>
<body style="background-color: #F5F5F5">
<div class="container-fluid" id="sub-pay">
    <h4>Период оформления подписки</h4>
    <button type="button" class="btn btn-secondary btn-lg">
        1 месяц
        <br>
        <div class="price">229 руб. </div>
    </button>
    <button type="button" class="btn btn-secondary btn-lg">
        3 месяца
        <br>
        <div class="price">649 руб.</div>
    </button>
    <button type="button" class="btn btn-secondary btn-lg">
        12 месяцев
        <br>
        <div class="price"> 2290 руб.</div>
    </button>
</div>

<div class="container-fluid" id="pay-up">
    <h4>Способ оплаты</h4>
    <button type="button" class="btn btn-secondary btn-lg" id="ms">
        <img src="https://remeslov.eco/wp-content/uploads/2021/09/platezhnye-sistemy.jpg"> 
    </button>
    <button type="button" class="btn btn-secondary btn-lg" id="pp">
        <img src="https://phrixboosting.com/itemshop/img/PayPal-Logo.png">
    </button>
    <button type="button" class="btn btn-secondary btn-lg">
        <h5>СМС</h5>
        <div class="r-only">Только для России</div>
    </button>

</div>

<div class="container-fluid" id="sum-up">
    <h4> Вы покупаете </h4>
    <div class="sub-type">
        Стандартная подписка
        1 месяц
    </div>
    <div class="sub-type-price">
        Итого к оплате
        
        <h5>229 руб.</h5>
    </div>
</div>
<div class="sign-in-text">
Чтобы оформить подписку необходимо 
войти или зарегистрироваться на сайте.
</div>
<div class="container-fluid" id="sign-up">
 <div class="register-form">
     <form>

         <div class="form-outline mb-4">
             <input type="email" id="form2Example18" class="form-control form-control-lg" />
             <label class="form-label" for="form2Example18">Почта</label>
         </div>
    
         <div class="form-outline mb-4">
             <input type="password" id="form2Example28" class="form-control form-control-lg" />
             <label class="form-label" for="form2Example28">Пароль</label>
         </div>
    
         <button type="button" class="ant-btn sc-1t4pdxh-0 kAlGSv cy-auth-form-submit ant-btn-primary ant-btn-lg ant-btn-block">
             <span>Оформить подписку</span>
         </button>
         <br>
         <button type="button" class="ant-btn sc-1t4pdxh-0 xSFQI cy-auth-form-toggle-button ant-btn-normal ant-btn-lg ant-btn-block">
             <span>Зарегистрироваться</span>
         </button>
    
     </form>
     </div>
</div>
<div class="sign-in-danger">
Оплачивая подписку, я принимаю условия оплаты, указнные в оферте и условия автоматического продления подписки на месяц вперед.
</div>
</body>
</html>