@model int
<link rel="stylesheet" href="~/css/starsResult.css">

<div class="rating-result">
    <span class="active"></span>
    <span class="active"></span>
    <span class="active"></span>
    <span class="active"></span>
    <span></span>
</div>