@using MyBook.Entities
@model IEnumerable<Book>
<!DOCTYPE html>
<html>
<head>
    <title>Free Books</title>
    <link rel="stylesheet" href="~/css/BookPreview.css">
</head>
<body>
<div>
    <div class="container">
        <h3 class="h3"><b>Популярные категории</b></h3>
        <div class="row">
            @foreach (var book in Model)
                    {
                        <article class="postcard_mini">
                            <div class="-columns">
                                <p class="genreName"><b>@book.Name</b></p>
                            </div>
                            <img class="genre_img" src="~/assets/img/fantastic.png" alt="">
                        </article>
                    }
            <article class="postcard_mini">
                <p class="genreName"><b>Фэнтези</b></p>
                <img class="genre_img" src="~/assets/img/fantasy.png" alt="">
            </article>
            <article class="postcard_mini">
                <p class="genreName"><b>Бизнес-книги</b></p>
                <img class="genre_img" src="~/assets/img/fantasy.png" alt="">
            </article>
        </div>
    </div>
    <div class="container">
        <h1 class="h1">Все бесплатные книги</h1>
        <h5 class="h5">@Model.Count() книг</h5>
        <a asp-controller="FreeBooks" asp-action="FreeBooks"></a>
        @foreach (var book in Model)
        {
            @await Component.InvokeAsync("BookPreview", book)
        }
        <article class="show_more">
            <button class="show_more_button">Показать ещё</button>
        </article>
        
    </div>
</div>
</body>
</html>