@using MyBook.Entities
@model IEnumerable<Book>
<!DOCTYPE html>
<html>
<head>
    <title>Free Books</title>
    <link rel="stylesheet" href="~/css/BookPreview.css">
</head>
<body>
<div>
    <div class="container">
        <h1 class="h1">Все бесплатные книги</h1>
        <h5 class="h5">@Model.Count() книг</h5>
        <a asp-controller="FreeBooks" asp-action="FreeBooks"></a>
        @foreach (var book in Model)
        {
            @await Component.InvokeAsync("BookPreview",book)
        }
    </div>
</div>
</body>
</html>