@model MyBook.Models.Admin.EditCenterViewModel
<section class="admin_functional">
    <h2>Изменить информацию о магазине</h2>
    <div class="author_information">
        <div class="author_information">
            <table>
                <tr class="upper_table_row">
                    <td>Название</td>
                    <td>Адрес</td>
                    <td>Телефоны</td>
                    <td>Описание</td>
                    <td>Действия</td>
                </tr>
                @foreach (var bookCenter in Model.Centers)
                {
                    <tr>
                        <td>@bookCenter.Name</td>
                        <td>@bookCenter.Address</td>
                        <td>
                            <p>@bookCenter.Phone</p>
                        </td>
                        <td>@bookCenter.Description</td>
                        <td>
                            <div class="flex_but">
                                <button class="spec_but">Редактировать</button>
                                <button class="spec_but">Удалить</button>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="add_author">
        <button class="spec_but">Добавить магазин</button>
    </div>
</section>