@model MyBook.Models.Admin.EditCenterViewModel
<section class="admin_functional">
    <h2>Изменить информацию о магазине</h2>
    <div class="author_information">
        <div class="author_information">
            <table>
                <tr class="upper_table_row">
                    <td>Адрес</td>
                    <td>Телефоны</td>
                    <td>E-mail</td>
                    <td>Действия</td>
                </tr>
                <tr>
                    <td>г.Казань, пр-т. Ямашева, дом 15/2 этаж 4</td>
                    <td>
                        <p>8-967-777-96-11</p>
                        <p>8-905-557-23-11</p>
                    </td>
                    <td>MyBook.kazan@gmail.com</td>
                    <td>
                        <div class="flex_but">
                            <button class="spec_but">Редактировать</button>
                            <button class="spec_but">Удалить</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>г.Москва, пр-т. Победы 92/4</td>
                    <td>
                        <p>8-967-777-96-11</p>
                        <p>8-967-777-96-11</p>
                    </td>
                    <td>MyBook.moscow@gmail.com</td>
                    <td>
                        <div class="flex_but">
                            <button class="spec_but">Редактировать</button>
                            <button class="spec_but">Удалить</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="add_author">
        <button class="spec_but">Добавить магазин</button>
    </div>
</section>