@using System.Text
@model MyBook.Models.Admin.AdminViewModel
<link rel="stylesheet" href="~/css/BookPreview.css">
<section class="admin_functional">
    <h2>Получить информацию о книге</h2>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Найти книгу" aria-label="Search">
    </form>
    <div class="user_information">
        <div class="books_information">
            <ul id="list">
                @foreach (var book in Model.Books.Take(10))
                {
                    <li>
                        @await Component.InvokeAsync("BookEdit", book)
                    </li>
                }
            </ul>
        </div>
        <div class="text-center">
            <button class="btn btn-lg w-100" onclick="showMoreEditBooks()">Показать ещё</button>
        </div>
        <button class="spec_but" data-toggle="modal" data-target="#EditBookModal">
            Добавить книгу
        </button>
    </div>
</section>
<script src="~/js/searchEditBooks.js"></script>