@using System.Text
@model MyBook.Models.Admin.AdminViewModel
<link rel="stylesheet" href="~/css/BookPreview.css">
<section class="container admin_functional">
    <h2>Получить информацию о книге</h2>
    <div class="d-flex">
        <input class="form-control mr-sm-2" id="searchStringBooks" type="search" onchange="searchEditBook()" placeholder="Найти книгу" aria-label="Search">
        <button class="btn_spec btn-warning" type="button" onclick="location.href='@Url.Action("AddBookModal", "AdminProfile")'">
            Добавить книгу
        </button>
    </div>
    <div class="user_information container">
        <div class="books_information">

            <div class="container">
                @foreach (var book in Model.Books.Take(10))
                {
                    @await Component.InvokeAsync("EditBook", book)

                }
            </div>
        </div>
        <div class="container text-center">
            <button class="more" type="button" onclick="showMoreEditBooks()">
                Показать ещё...
            </button>
        </div>
    </div>
</section>
<script src="~/js/searchEditBooks.js"></script>