<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Admin"] - MyBook</title>
</head>
<body>
  <header>
		<div class="lower_header">
		<div class="wrapper_lower_header">
			<ul>
				<li>
					<a href="#">Управлять подпиской</a>
				</li>
				<li>
					<a href="#">Изменить информацию о книге</a>
				</li>
				<li>
					<a href="#">Редактировать информацию об авторе</a>
				</li>
				<li>
					<a href="#">Изменить информацию о магазине</a>
				</li>
			</ul>
		</div>
	</div>
	</header>
	<section class="admin_functional">
		<h2>Получить информацию о пользователе</h2>
		<form class="form-inline">
			<input class="form-control mr-sm-2" type="search" placeholder="Найти пользователя" aria-label="Search">
		</form>
		<div class="user_information">
			<div class="users_information">
				<table>
					<tr class="upper_table_row">
						<td>Аватар</td>
						<td>Почта</td>
						<td>ФИО</td>
						<td>Подписка</td>
						<td>Период</td>
						<td>Стоимость</td>
						<td>Оплата</td>
						<td>Статус</td>

					</tr>
					<tr>
						<td><img src="/assets/img/avatar.png"></td>
						<td>ivanov@mail.ru</td>
						<td>Иванов Иван Иванович</td>
						<td>Премиум
							<div class="flex_but">
								<button class="spec_but">Удалить</button>
								<button class="spec_but">Добавить</button>
							</div>
						</td>
						<td>1 месяц</td>
						<td>300 руб.</td>
						<td>iTunes</td>
						<td>Текущая</td>
					</tr>
					<tr>
						<td><img src="/assets/img/avatar.png"></td>
						<td>pupa@mail.ru</td>
						<td>Пупкин Вася Иванович</td>
						<td>
							Пробная
							<div class="flex_but">
								<button class="spec_but">Удалить</button>
								<button class="spec_but">Добавить</button>
							</div>
						</td>
						<td>14 дней</td>
						<td>-</td>
						<td>-</td>
						<td>Текущая</td>
					</tr>
					<tr>
						<td><img src="/assets/img/avatar.png"></td>
						<td>pupa@mail.ru</td>
						<td>Пупкин Вася Иванович</td>
						<td>Стандарт
							<div class="flex_but">
								<button class="spec_but">Удалить</button>
								<button class="spec_but">Добавить</button>
							</div>
						</td>
						<td>21день</td>
						<td>150руб</td>
						<td>iTunes</td>
						<td>Не действует</td>
					</tr>
				</table>
			</div>
		</div>
	</section>
</body>
</html>