<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Admin"] - MyBook</title>
</head>
<body>
  <header>
		<div class="lower_header">
		<div class="wrapper_lower_header">
			<ul>
				<li>
					<a href="#">Управлять подпиской</a>
				</li>
				<li>
					<a href="#">Изменить информацию о книге</a>
				</li>
				<li>
					<a href="#">Редактировать информацию об авторе</a>
				</li>
				<li>
					<a href="#">Изменить информацию о магазине</a>
				</li>
			</ul>
		</div>
	</div>
	</header>

	<section class="user_page_upper">
		<p>Управлять подпиской</p>
	</section>

	<section class="sub_table_admin">
		<div class="sub_table_content_admin">
			<table>
				<tr class="upper_table_row">
					<td>Подписка</td>
					<td>Описание</td>
					<td>Стоимость</td>
					<td>Период</td>
					<td>Действия</td>
				</tr>
				<tr>
					<td>Стандарт</td>
					<td> 
						<p>Ограниченный каталог книг</p>
						<p>Персональные рекомендации</p>
					</td>
					<td>229 руб</td>
					<td>1 месяц</td>
					<td>
						<div class="flex_but">
							<button class="spec_but">Удалить</button>
							<button class="spec_but">Редактировать</button>
						</div>
					</td>
				</tr>
				<tr>
					<td>Премиум</td>
					<td> 
						<p>Все книги</p>
						 <p>Персональные рекомендации</p>
					</td>
					<td>549 руб</td>
					<td>1 месяц</td>
					<td>
						<div class="flex_but">
							<button class="spec_but">Удалить</button>
							<button class="spec_but">Редактировать</button>
						</div>
					</td>
				</tr>
				<tr>
					<td>Семейная</td>
					<td>
					<p> 3 аккаунта с премиум-подпиской</p>
					<p>Другие участники не будут знать, что вы читаете</p>
					<p>Сохраним оставшиеся дни активной подписки</p>
					</td>
					<td>899 руб</td>
					<td>1 месяц</td>
					<td>
						<div class="flex_but">
							<button class="spec_but">Удалить</button>
							<button class="spec_but">Редактировать</button>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<button class="spec_but">Создать новую подписку</button>
	</section>
</body>
</html>