<!doctype html>
<html>
   <head>
      <meta http-equiv="Content-type" content="text/html; charset=utf-8">
      <title>Book</title>
   </head>
   <body>
      <div type="flex" class="content">
         <div class="ant-col book-wrapper book-back ant-col-xs-12 ant-col-xs-order-1 ant-col-xl-3 ant-col-xl-order-2">
            <div class="side-panel">
               <div class="photo-background">
                  <img width="560" src="https://cdn1.ozone.ru/s3/multimedia-b/6055181711.jpg" class="book-photo">
               </div>
               <div class="book-blur book-cover">
                  <div class="book-content book-preview">
                     <div class="book-content-wrap book-preview-vert">
                        <div height="378" width="0" class="book-photo-block">
                           <picture>
                              <img srcset="https://cdn1.ozone.ru/s3/multimedia-b/6055181711.jpg"   alt="Название книги">
                           </picture>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="ant-col main-content main-content-text ant-col-xs-12 ant-col-xs-order-4 ant-col-xl-3">
        
            <div class="m4n24q-0 language">
               <div class="sc-1hobxan-0 lang-block">
                  <div type="flex" class="ant-row sc-1hobxan-1 lang-block-add">
                     <div class="ant-col ant-col-xs-11 ant-col-md-8 ant-col-xl-12">
                        <div class="m4n24q-0 hTmOzC">
                              <div class="dey4wx-0 lang-block-add-text-head">
                                 <div class="dey4wx-1 jVKkXg">
                                    Язык
                                 </div>
                              </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="ant-col acq6ib-4 iDfqxd ant-col-xs-12 ant-col-xs-order-3 ant-col-xl-6">
            <div class="m4n24q-0 kCcSUL">
               <div class="sc-1c0xbiw-0 hvfXON">
                  <div type="flex" class="ant-row sc-1c0xbiw-1 cyJjtq">
                     <div class="ant-col sc-1c0xbiw-7 bYaLec ant-col-xs-11 ant-col-md-11 ant-col-xl-12">
                        <div class="m4n24q-0 hJyrxa">
                           <h1 class="sc-bdfBwQ lnjchu-0 jzwvLi gUKDCi sc-1c0xbiw-11 bzVsYa" level="h1">Название книги</h1>
                        </div>
                     </div>
                     <div class="ant-col sc-1c0xbiw-8 eFHndH ant-col-xs-11 ant-col-md-8 ant-col-xl-12">
                        <div class="m4n24q-0 bkolKJ">
                           <a href="/ссылканаавтора">
                              <div class="dey4wx-0 lang-block-add-text-head">
                                 <div class="dey4wx-1 lang-block-add-text-head-main">
                                    Автор
                                 </div>
                              </div>
                           </a>
                        </div>
                     </div>
                     <div class="ant-col sc-1c0xbiw-9 bhxaWx ant-col-xs-11 ant-col-md-8 ant-col-xl-12">
                        <p as="p" class="lnjchu-1 dPgoNf">
                           Количество страниц
                        </p>
                        <p as="p" class="lnjchu-1 dPgoNf">
                           ****<!-- -->&nbsp;<!-- -->год
                        </p>
                        <p as="p" class="lnjchu-1 dPgoNf">
                           Возраст<!-- -->+
                        </p>
                     </div>
                     <div class="ant-col sc-1c0xbiw-10 hAsSPG ant-col-xs-11 ant-col-md-8 ant-col-xl-12">
                        <div class="m4n24q-0 cwCoRT">
                           <div class="sc-1u9kg9i-1 jiRHde">
                              <div class="c33xjx-0 eTFlAQ">
                                 <div class="c33xjx-5 hPcEQE">
                                    <div class="m4n24q-0 hoKjgu">
                                       <a href="/подписка">
                                       <button type="button" class="ant-btn sc-1t4pdxh-0 idMnRP q6yn4c-0 crEcDb ant-btn-trial ant-btn-lg">
                                       <span>Оформить подписку</span>
                                       </button></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="m4n24q-0 iHNDxG">
               <div type="flex" class="ant-row ant-row-center acq6ib-7 jxhqUh">
                  <div class="ant-col sc-12m9qet-0 gNMeEe ant-col-xs-11 ant-col-md-4 ant-col-xl-6">
                     <div class="sc-12m9qet-1 dYVYiq">
                        <div class="m4n24q-0 bkolKJ">
                           <div level="h4" class="sc-bdfBwQ lnjchu-0 jzwvLi dmKfdD">
                              Оцените книгу
                           </div>
                        </div>
                        <div class="rating-area">
                           <input type="radio" id="star-5" name="rating" value="5">
                           <label for="star-5" title="Оценка «5»"></label>	
                           <input type="radio" id="star-4" name="rating" value="4">
                           <label for="star-4" title="Оценка «4»"></label>    
                           <input type="radio" id="star-3" name="rating" value="3">
                           <label for="star-3" title="Оценка «3»"></label>  
                           <input type="radio" id="star-2" name="rating" value="2">
                           <label for="star-2" title="Оценка «2»"></label>    
                           <input type="radio" id="star-1" name="rating" value="1">
                           <label for="star-1" title="Оценка «1»"></label>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="m4n24q-0 language">
               <div class="iszfik-0 fYTRQF">
                  <div type="flex" class="ant-row ant-row-center iszfik-1 cFmLKi">
                     <div class="ant-col ant-col-xs-11 ant-col-md-8 ant-col-xl-12">
                        <div class="m4n24q-0 bkolKJ">
                           <div level="h2" class="sc-bdfBwQ lnjchu-0 jzwvLi fvwrVt">О&nbsp;книге
                           </div>
                        </div>
                        <div class="m4n24q-0 jAyNjF">
                           <div class="iszfik-2 gAFRve">
                              Аннотация
                           </div>
                        </div>
                        <div class="ant-col ant-col-xs-11 ant-col-md-8 ant-col-xl-12">
                           <div class="m4n24q-0 kCcSUL">
                              <div level="h3" class="sc-bdfBwQ lnjchu-0 jzwvLi idegOG">
                                 Жанры
                              </div>
                           </div>
                           <div class="sc-1sg8rha-0 gHinNz">
                              <div class="sc-1sbv3y7-0 bQSldI">
                                 <div class="sc-1sbv3y7-1 eVvZLL">Жанр
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <section  style="background-color: rgb(246, 246, 246);">
         <div class="container my-5 py-5">
            <div class="comments">
               <div class="comments-header">
                  Отзывы на книгу «Название»
               </div>
            </div>
            <div class="row d-flex justify-content-center">
               <div class="col-md-12 col-lg-10 col-xl-8">
                  <div class="card">
                     <div class="card-body">
                        <div class="d-flex flex-start align-items-center">
                           <img
                              class="rounded-circle shadow-1-strong me-3"
                              src="https://avatars.mds.yandex.net/get-images-cbir/2331304/hlJagday5m-02YN5evTrqg9202/ocr"
                              alt="avatar"
                              width="60"
                              height="60"
                              />
                           <div>
                              <h6 class="fw-bold text-primary mb-1">nwtms</h6>
                           </div>
                        </div>
                        <div class="rating-result">
                           Оценил книгу
                           <span class="active"></span>	
                           <span class="active"></span>    
                           <span class="active"></span>  
                           <span class="active"></span>  
                           <span></span>    
                        </div>
                        <p class="mt-3 mb-4 pb-2">
                           Так и не дочитала
                        </p>
                        <div class="kmkgop-6 iyPDdn">
                           <div class="kmkgop-8 eRwjqI">
                              10 марта 2022
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </body>
</html>