<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Subscription gift"] - MyBook</title>
</head>
<body>
    <div class="container">
        <div class="content_wrapper">
            <div class="title_for_sbr">
                <h2>Оформление подписки в подарок</h2>
                <h5>Мы пришлем сертификат на указанную почту. (Получатель должен быть клиентом MyBook)</h5>
            </div>
            <div class="card_style">
                <div class="img_sbr_wrapper">
                    <img src="https://i2.mybook.io/next/assets/buyGift/selectionImage0.png">
                </div>
                <textarea class="textarea-postcard" maxlength="150" placeholder="Напишите e-mail получателя" name="text"></textarea>
                <h3 class="title_card">Выберите подписку</h3>
                <div class="row wrapper_inner_blocks">
                    <div class="col-lg-4 inner_block_card d-flex">
                        <div>
                            <input class="form-check-input" type="radio">
                        </div>
                        <div>
                            <h3>Премиум</h3>
                            <h5>2000 руб./месяц </h5>
                        </div>
                    </div>
                    <div class="col-lg-4 inner_block_card d-flex">
                        <div>
                            <input class="form-check-input" type="radio">
                        </div>
                        <div>
                            <h3>Авторы</h3>
                            <h5>500 руб./месяц </h5>
                            <label>Выберите автора: </label>
                            <input class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-4 inner_block_card d-flex">
                        <div>
                            <input class="form-check-input" type="radio">
                        </div>
                        <div>
                            <h3> Жанры</h3>
                            <h5> 1000 руб./месяц </h5>
                            <label>Выберите жанр: </label>
                            <input class="form-control">
                        </div>
                    </div>
                </div>
                <h3 class="title_card">Выберите период оформления подписки</h3>

                <div class="inp_card">
                    <div class="form-check form-check-inline ">
                        <input class="form-check-input" type="radio" value="1">
                        <label class="form-check-label"> 1 месяц</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="3">
                        <label class="form-check-label">3 месяца</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="12">
                        <label class="form-check-label">12 месяцев</label>
                    </div>
                </div>
                <div class="but_card_wrap">
                    <button type="submit" class="btn btn-warning">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
