<div class="modal fade" id="AddSubscriptionToUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Добавить подписку пользователю</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="headings">
                            <h1>Подписки</h1>
                            <p>Выберите подписку</p>
                        </div>
                        <div class="container-fluid sub" id="subscription-admin">
                            <div class="row">
                                <div class="col-3" id="col-3-admin1">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                        <label class="form-check-label" for="inlineRadio1"></label>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <h3> Тип подписки </h3>
                                    <h5> 0 руб./месяц </h5>
                                    <br>
                                    <br>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-3" id="col-3-admin2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                        <label class="form-check-label" for="inlineRadio2"></label>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <h3>Тип подписки </h3>
                                    <h5> 0 руб./месяц </h5>
                                    <br>
                                    <br>
                                    <label>Выберите автора: </label>
                                    <input list="author-list" class="form-control" id="author-input">
                                    <datalist id="author-list">
                                    </datalist>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3" id="col-3-admin3">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                        <label class="form-check-label" for="inlineRadio3"></label>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <h3> Тип подписки </h3>
                                    <h5> 0 руб./месяц </h5>
                                    <br>
                                    <br>
                                    <label>Выберите жанр: </label>
                                    <input list="genre-list" class="form-control" id="genre-input">
                                    <datalist id="genre-list">
                                    </datalist>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="sub-pay">
                        <div class="sub-pay-period">
                            <h5>Период оформления подписки</h5>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="RadioOptions" id="inlineRadio4" value="option1">
                                <label class="form-check-label" for="inlineRadio1">1 месяц</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="RadioOptions" id="inlineRadio5" value="option2">
                                <label class="form-check-label" for="inlineRadio2">3 месяца</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="RadioOptions" id="inlineRadio6" value="option3">
                                <label class="form-check-label" for="inlineRadio3">12 месяцев</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>