@model MyBook.Entities.BookCenter

<div class="modal fade" id="AddBookCenterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Добавить магазин</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="nameInput">Название магазина</label>
                        <input type="text" class="form-control" id="nameInput" placeholder="Название магазина">
                    </div>
                    <div class="form-group">
                        <label for="nameInput">Адрес</label>
                        <input type="text" class="form-control" id="addressInput" placeholder="Адрес">
                    </div>
                    <div class="form-group">
                        <label for="nameInput">Телефоны</label>
                        <input type="text" class="form-control" id="phoneInput" placeholder="Телефон">
                    </div>
                    <div class="form-group">
                        <label for="descInput">Описание</label>
                        <textarea type="text" class="form-control" id="descInput" placeholder="Описание"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>