@media (max-width: 1400px) {
    .header {
        font-size: 14px;
       
    }
    .inner_block_wrapper {
        margin-top: 4em;
    }

    .lower_header {
        margin-left: 1em;
    }
}

@media (max-width: 1200px) {

    .header {
        font-size: 12px;
    }

    .customInput {
        font-size: 12px;
    }

    .nav-item a {
        font-size: 10px !important;
        padding: 0;
    }

    .border_picture h1 {
        font-size: 40px !important;
    }

    .inline_wrapper {
        display: flex;
        padding: 3em 4em !important;
    }

    .text_info {
        padding: 3em 5em !important;
    }


    .upper_footer {
        padding: 2em 5em !important;
    }

    .inner_block {
        padding: 0 5em !important;
    }

    .inner_block_wrapper {
        margin-top: 10%;
    }
}

@media (max-width: 992px) {
    .header {
        margin: 0 auto !important;
        padding-left: 0 !important;
        width: 100% !important;
    }

    header {
        width: 100% !important;
    }

    .navbar-collapse {
        margin-top: 2em;
        margin-left: -3.5em;
    }

    .nav-form {
        margin-bottom: 1em;
    }

    footer h3 {
        padding: 0;
        margin: 0;
    }

    .nav-item a {
        font-size: 9px !important;
        padding: 0;
    }

    .form-inline .nav-item {
        margin: 0 0.5em;
        padding: 0.4em !important;
    }

    .picture_wrapper {
        display: none !important;
    }

    .inner_block_wrapper {
        display: none !important;
    }

    .inner_block {
        position: relative;
        top: -22em !important;
        padding: 0 15em;
    }

    .text_info {
        padding: 3em 5em !important;
    }

    .upper_footer {
        padding: 2em 5em !important;
    }

    .map_wrapper {
        flex-wrap: wrap;
    }

    .right_block {
        display: none;
    }

    .lefy_block {
        width: 100% !important;
        justify-content: center;
        text-align: center;
    }

    .text_info {
        justify-content: center;
    }

    .map_content {
        display: flex;
        margin: 3em 0 2em 0;
        padding: 0;
    }

        .map_content hr {
            display: none;
        }

    .footer {
        display: flex;
        padding: 0em 3em;
    }
    .inline_wrapper {
        position: static !important;
    }

    .inner_block {
        margin-bottom: 18em;
    }
}

@media (max-width: 765px) {

    .inner_block {
        position: relative;
        top: -16em !important;
        padding: 0 15em;
        margin-bottom: 25em !important;
    }
    .wrapper_position{
        flex-wrap: wrap;
    }
    .map_wrapper{
        width: 100% !important;
    }
    .map_wrap {
        display: none;
    }
    .map_content{
        flex-wrap: wrap;
    }
}

@media (max-width: 480px) {
    .navbar-collapse {
        margin-top: 2em;
    }

    footer h4 {
        padding: 0;
        margin: 0;
    }

    .best_books {
        display: none !important;
    }
}
