html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.chips{
  padding:2px 3px;
  background: #ffffff;
  border-radius: 5px;
  color: rgb(255, 119, 0) !important;
  margin-right: 10px;
  
  font-size: 14px;
  
  -webkit-box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
}

.chips:hover{
  cursor: pointer;
  color: rgb(168, 76, 0) !important;
}

.postcard_mini {
  display: flex;

  max-width: 260px;
  min-height: 77px;
  max-height: 87px;

  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  background-color: rgb(255,255,255);
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 10px;
  margin-left: 16px;
  margin-right: 8px;
  padding: 10px;
  position: relative;
  color: #ffffff;

  box-sizing: content-box;
}

.GenreTitle{
  display: flex;
  align-items: center;
}

.genreName {
  color: rgb(0, 0, 0) !important;
  border-radius: 15px;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: 16px;
  margin-right: 10px;
}

.genreNumber {
  color: rgb(0, 0, 0) !important;
  max-width: 60px;
  min-height: 5px;
  max-height: 10px;

  margin-left: 20px;
}

.genre_img{
  position:absolute;
  right: 0;
  bottom: 3px;
  border-radius: 10px;
  width: 100px;
  object-fit: contain;
  height: 100%;
}

.show_more {
  display: flex;

  width: 1080px;
  height: 40px;
  
  border: 2px solid rgb(179, 77, 0);
  background: rgb(256, 256, 256) !important;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  position: relative;
  text-align:  center;
  
  box-sizing: content-box;
}
.show_more_button{
  background: rgb(256, 256, 256) !important;
  border:none;
  margin-left: auto;
  margin-right: auto;
  width: 35em;
  font-size: 25px;
  color: rgb(179, 77, 0);
}
