html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.chips{
  padding:2px 3px;
  background: #ffffff;
  border-radius: 5px;
  color: rgb(255, 119, 0) !important;
  margin-right: 10px;
  
  font-size: 14px;
  
  -webkit-box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
}

.chips:hover{
  cursor: pointer;
  color: rgb(168, 76, 0) !important;
}

.customInput{
  max-width: 310px;
  width: 100%;
}

.customHeader{
  max-width: 1100px;
  margin: 0 auto;
}

.searchChoices{
  list-style: none;
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 16px;
  border-top: 1px solid #e0e0e0;
}
.searchChoice{
  border: 2px rgb(168, 76, 0) solid;
  padding: 5px 16px;
  border-radius: 8px;
  background: white;
}
.searchChoice{
  margin-left: 14px;
}

