@model MyBook.ViewModels.SearchViewModel
@{
    Layout = "_SearchLayout";
    ViewData["searchString"] = Model.SearchString;
}

<link rel="stylesheet" href="~/css/bookPreview.css">

<div class="container">
    <div class="d-flex align-items-center justify-content-center">
        <h1 class="h1 text-capitalize">Книги по запросу</h1>
        <h3 class="h3 m-0 ms-3 text-info">"@ViewData["searchBooks"]"</h3>
    </div>
    <ul id="list">
        @foreach (var book in Model.Books)
        {
            <li>
                @await Component.InvokeAsync("BookPreview", book)
            </li>
        }
    </ul>
    <div class="text-center">
        <button class="btn btn-lg btn-primary w-100" id="showMoreBooks" onclick="showMoreBooks('@ViewData["searchBooks"]')">Показать ещё</button>
    </div>
</div>
<script src="~/js/searchBooks.js"></script>
