@model MyBook.ViewModels.SearchViewModel
@{
    Layout = "_SearchLayout";
    ViewData["searchString"] = Model.SearchString;
}

<link rel="stylesheet" href="~/css/BookPreview.css">

<div class="container">
        <div class="d-flex align-items-center mt-5 justify-content-center">
                <h1 class="h1 text-capitalize">Авторы</h1>
                <h3 class="h3 m-0 ms-3 text-info">@Model.Authors.Count</h3>
            </div>
        @foreach (var author in Model.Authors)
        {
            @await Component.InvokeAsync("AuthorPreview",author)
        }
</div>
