@model MyBook.ViewModels.SearchViewModel

@{
    Layout = "_SearchLayout";
    ViewData["searchString"] = Model.SearchString;
}
@*<link rel="stylesheet" href="~/css/BookPreview.css">*@

<div class="container">
    <div class="d-flex align-items-center justify-content-center">
        <h1 class="h1 text-capitalize">Книги</h1>
        <h3 class="h3 m-0 ms-3 text-info">@Model.Books.Count()</h3>
    </div>
    @foreach (var book in Model.Books.Take(5))
    {
        @await Component.InvokeAsync("BookPreview", book)
    }
    @if (Model.Authors.Any())
    {
        <div class="text-center mt-4">
            <a class="btn btn-lg btn-primary p-3" asp-controller="Search" asp-action="SearchBooks" asp-route-searchString="@ViewData["searchString"]">Показать все книги</a>
        </div>
    }
    <div class="d-flex align-items-center mt-5 justify-content-center">
        <h1 class="h1 text-capitalize">Авторы</h1>
        <h3 class="h3 m-0 ms-3 text-info">@Model.Authors.Count()</h3>
    </div>
    @{
        foreach (var author in Model.Authors.Take(5))
        {
            @await Component.InvokeAsync("AuthorPreview", author)
        }
        if (Model.Authors.Any())
        {
            <div class="text-center mt-4">
                <a class="btn btn-lg btn-primary p-3" asp-controller="Search" asp-action="SearchAuthors" asp-route-searchString="@ViewData["searchString"]">Показать всех авторов</a>
            </div>
        }
    }
</div>