@model MyBook.Models.UserProfileViewModel
@*TODO think about it*@
<section class="user_page_lower">
    <div class="user_page_sub pt-3 pb-5">
        <div class="container">
            <div class="content_wrapper">
                <div class="have_subscriptions row col-12">
                    <p class="name">Премиум</p>
                    <label>Все книги и аудиокниги</label>
                    <br>
                    <label class="label_border col-lg-2 col-md-3 col-sm-4 col-6">до 6 апреля 2022</label>
                    <div class="card_info_wrapper">
                        <div class="card_info">
                            <p class="name">Карта (MasterCard **** 1781)</p>
                        </div>
                        <div class="card_info_lower">
                            <label>Подписка продлится автоматически</label>
                            <div>
                                <button class="main_button">Привязать новую карту</button>
                                <button class="main_button">Отключить автопродление</button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="have_subscriptions row col-12">
                    <p class="name">Стандарт</p>
                    <label>Классика и бестселлеры</label>
                    <br>
                    <label class="label_border col-lg-2 col-md-3 col-sm-4 col-6">до 15 марта 2022</label>
                    <br>
                    <div class="card_info_wrapper">
                        <div class="card_info">
                            <p class="name">Карта (VISA **** 1111)</p>
                        </div>
                        <div class="card_info_lower">
                            <label>Подписка продлится автоматически</label>
                            <div>
                                <button class="main_button">Привязать новую карту</button>
                                <button class="main_button">Отключить автопродление</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>