@model MyBook.Models.EditPasswordViewModel
<section>
    <div class="blocks">
        <div class="inner_content_block">
            <div class="wrapper_content_inner_block">
                <form method="post" asp-controller="UserProfile" asp-action="EditPassword">
                    <span>Изменить пароль</span>
                    <input type="hidden" asp-for="Id">
                    <div class="form-group form_label">
                        <label asp-for="OldPassword" for="nameForm">Старый пароль</label>
                        <input asp-for="OldPassword" type="text" class="form-control" id="nameForm" aria-describedby="emailHelp">
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group form_label">
                        <label asp-for="NewPassword" for="surnameForm">Новый пароль</label>
                        <input asp-for="NewPassword" type="text" class="form-control" id="surnameForm" aria-describedby="emailHelp">
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="main_button">Изменить</button>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>