@model MyBook.Models.UserProfileViewModel
@*TODO think about it*@
<section class="user_page_lower">
    <div class="user_page_sub pt-3 pb-5">
        <div class="container">
            <div class="content_wrapper">
                <div class="have_subscriptions row col-12">
                    <p class="name">Название подписки</p>
                    <label>Истечение срока действия:</label>
                    <br>
                    <label class="label_border col-lg-2 col-md-3 col-sm-4 col-6">до 15 марта 2022</label>
                    <br>
                    <div class="card_info_wrapper">
                        <div class="card_info">
                            <p class="name">Стоимость:</p>
                        </div>
                        <div class="card_info_lower">
                            <h5 class="pl-4">1000 руб.</h5>
                            <div>
                                <button class="main_button">Отменить подписку</button>
                                <button class="main_button">Продлить подписку</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="have_subscriptions row col-12">
                    <p class="name">Название подписки</p>
                    <label>Истечение срока действия:</label>
                    <br>
                    <label class="label_border col-lg-2 col-md-3 col-sm-4 col-6">до 15 марта 2022</label>
                    <br>
                    <div class="card_info_wrapper">
                        <div class="card_info">
                            <p class="name">Стоимость:</p>
                        </div>
                        <div class="card_info_lower">
                            <h5 class="pl-4">1000 руб.</h5>
                            <div>
                                <button class="main_button">Отменить подписку</button>
                                <button class="main_button">Продлить подписку</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>