@model MyBook.Models.UserProfile.EditUserSubscrViewModel
<section class="user_page_lower">
    <div class="user_page_sub">
        <div class="have_subscriptions">
            <p class="name">Премиум</p>
            <label>Все книги и аудиокниги</label>
            <br>
            <label class="label_border">до 6 апреля 2022</label>
            <div class="card_info_wrapper">
                <div class="card_info">
                    <p class="name">Карта (MasterCard **** 1781)</p>
                </div>
                <div class="card_info_lower">
                    <label>Подписка продлится автоматически</label>
                    <div>
                        <button class="main_button">Привязать новую карту</button>
                        <button class="main_button">Отключить автопродление</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="have_subscriptions">
            <p class="name">Стандарт</p>
            <label>Классика и бестселлеры</label>
            <br>
            <label class="label_border">до 15 марта 2022</label>
            <br>
            <div class="card_info_wrapper">
                <div class="card_info">
                    <p class="name">Карта (VISA **** 1111)</p>
                </div>
                <div class="card_info_lower">
                    <label>Подписка продлится автоматически</label>
                    <div>
                        <button class="main_button">Привязать новую карту</button>
                        <button class="main_button">Отключить автопродление</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>