@model MyBook.Models.UserProfileViewModel
<section class="user_page_lower">
    <div class="sub_table container">
        <div class="container">
            <div class="sub_table_wrapper col-12 pt-4 pb-4">
                <h1>Рекоммендации</h1>
                <div class="container recommendations__container">
                    @foreach (var book in Model.Recommendations.Take(10))
                    {
                        @await Component.InvokeAsync("BookPreview", book)
                    }
                </div>
            </div>
            <div class="container text-center">
                        <button class="more" type="button" onclick="getNextBooks()">
                            Показать ещё...
                        </button>
                    </div>
        </div>
    </div>
</section>
