<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["History"] - MyBook</title>
</head>
<body>
    <section class="user_page_upper">
		<p>История покупок</p>
	</section>

	<section class="sub_table">
		<div class="sub_table_wrapper">
			<table>
				<tr class="title_tr">
					<td>Подписка / Книга</td>
					<td>Дата</td>
					<td>Доступ</td>
					<td>Период</td>
					<td>Стоимость</td>
					<td>Оплата</td>
					<td>Статус</td>
				</tr>
				<tr>
					<td>Премиум</td>
					<td>13.11.2020 (2:45)</td>
					<td>Все книги + аудиокниги</td>
					<td>1 месяц</td>
					<td>0 руб.</td>
					<td>iTunes</td>
					<td>Оплачено</td>
				</tr>
				<tr>
					<td>СуперПремиум</td>
					<td>13.11.2020 (2:45)</td>
					<td>Все книги + аудиокниги</td>
					<td>1 год</td>
					<td>1000 руб.</td>
					<td>iTunes</td>
					<td>Оплачено</td>
				</tr>
			</table>
		</div>
	</section>

</body>
</html>