@model MyBook.Models.UserProfile.UserProfileViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Profile"] - MyBook</title>
</head>
<body>
    <section class="user_page_upper">
        <div class="lk_out">
            <p>Личный кабинет</p>
            <form method="post" asp-action="Logout"><button type="submit" class="sign_out" asp-action="Logout">Выйти из аккаунта</button></form>
        </div>
        <nav class="user_links_wrapper">
            <input type="hidden" id="userId" asp-for="Id" />
            <ul>
                <li class="nav-item">
                    <a class="nav-link" id="profile">Профиль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="history">История</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="subscr">Подписки</a>
                </li>
                </
            </ul>
        </nav>
    </section>

    <div id="container"></div>
    @section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/profile.js"></script>
    }
</body>
</html>