@model MyBook.Models.UserProfileViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Profile"] - MyBook</title>
</head>
<body>
    <section class="user_page_upper container ">
        <div class="row lk_wrap col-12">
            <div class="lk_out">
                <p>Личный кабинет</p>
                <button class="sign_out">Покинуть страницу</button>
            </div>
            <nav class="user_links_wrapper">
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="UserProfile" asp-action="EditProfile">Профиль</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="UserProfile" asp-action="History">История</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="UserProfile" asp-action="EditSubscription">Подписки</a>
                    </li>
                    </
                </ul>
            </nav>
        </div>
    </section>

    <section class="user_page_lower">
        <div class="user_page_lower_wrapper">
            <div class="flex_block">
                <div class="no_sub_text">
                    <p>
                        У вас нет активных
                        <br>подписок
                    </p>
                    <label>
                        Получите доступ ко всем книгам и
                        <br>аудиокнигам MyBook
                    </label>
                    <br>
                    <button class="spec_but">14 дней бесплатно</button>
                </div>
                <div>
                    <img src="/assets/img/no_sub.png">
                </div>
            </div>
        </div>
    </section>
</body>
</html>