<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Profile"] - MyBook</title>
</head>
<body>
    <section class="user_page_lower">
        <div class="user_page_lower_wrapper">
            <div class="flex_block">
                <div class="no_sub_text">
                    <p>
                        У вас нет активных
                        <br>подписок
                    </p>
                    <label>
                        Получите доступ ко всем книгам и
                        <br>аудиокнигам MyBook
                    </label>
                    <br>
                    <button class="spec_but">14 дней бесплатно</button>
                </div>
                <div>
                    <img src="/assets/img/no_sub.png">
                </div>
            </div>
        </div>
    </section>
</body>
</html>