<section class="user_page_lower">
    <div class="sub_table container">
        <div class="container">
            <div class="sub_table_wrapper col-12 pt-4 pb-4">
                <h1>Рекоммендации</h1>
            </div>
        </div>
    </div>
</section>