<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Sign in"] - MyBook</title>
</head>
<body>
    <section class="modal_wrapper">
		<div class="wrapper_modal_content">
			<div class="modal_view">
				<span>Вход</span>
					<div class="form-group form_label_reg">
					    <label for="nameForm">Почта или телефон:</label>
					    <input type="text" class="form-control" id="nameForm" aria-describedby="emailHelp">
					</div>
				   <div class="form-group form_label_reg">
					    <label for="surnameForm">Пароль:</label>
						<input type="text" class="form-control" id="surnameForm" aria-describedby="emailHelp">
				   </div>
			   <button class="reg_button">Войти</button>
			   <button class="signin_button">Вход с помощью Google</button>
			   <button class="main_button">Зарегистрироваться</button>
			   <button class="main_button">Забыл пароль</button>
			</div>
		</div>
	</section>
</body>
</html>