@model MyBook.Entities.Book
<article class="postcard">
    <a class="postcard_img_link" href="#">
        <img class="postcard_img" src="~/assets/tempImg/Damir.png" alt="">
    </a>
    <div class="postcard_text">
        <h3 class="h3 BookPreviewTitle">
            <div class="me-4">Книга</div>
            @(await Component.InvokeAsync("StarsRateResult",5))
        </h3>
        <p class="author">Автор</p>
        <p class="postcard_preview-txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A assumenda culpa dolorem eum explicabo harum hic itaque magnam magni molestias...</p>
    </div>
</article>