@using MyBook.Entities
@model System.Linq.IQueryable<MyBook.Entities.Book>

<div class="customCarousel container">
    <h1 class="h1 ms-4 mb-4">Топ книги</h1>
    @await Component.InvokeAsync("BooksCarousel", new List<Book>(Model.OrderBy  (book =>book.Name).ToList()))
</div>
