@using MyBook.Entities
@model System.Linq.IQueryable<MyBook.Entities.Book>

<div class="container">
    <div class="content_wrapper">
        <h1 class="main_title_book mb-3">Топ книг</h1>
        <div class="customCarousel">
            @await Component.InvokeAsync("BooksCarousel", new List<Book>(Model.ToList()))
        </div>
    </div>
</div>
