<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Author"] - MyBook</title>
</head>
<body>
	<section class="about_author">
			<div class="about_author_wrapper">
				<div class="photo">
					<img src="/assets/img/non.png">
				</div>
				<div class="info">
					<h1>Стивен Кинг</h1>
					<h5>Дата рождения: 22.02.2022</h5>
					<br>
					<p>Стивен Кинг, признанный король ужасов, родился в
						американском городе Портленде в 1947 году. Он рос
						обычным ребенком, пока не стал свидетелем смерти
						своего друга под колесами поезда. С тех пор мальчик
						стал заложником собственных страхов. Частыепереезды, тяжелые болезни и отсутствие отца в семье лишь
						усугубили маниакальность ребенка. Чтобы избавиться
						от страхов, Кинг стал писать о них на бумаге.
						Окружающие замечали, что его очерки и рассказы
						весьма талантливы, но издательства отказывались их
						печатать. В припадке отчаяния автор практически
						уничтожил одно из лучших своих творений. Но
						благодаря жене первый серьезный роман «Керри» был
						продан за 400 тысяч долларов и поверг всю Америку в
						шок. Совсем скоро такие книги, как «Оно», «Сияние»,
						«Зеленая миля» и другие стали культовыми для
						поклонников жанра хоррор. Они не раз были
						экранизированы великими режиссерами.
						Стивен Кинг стал одним из первых авторов, кто
						заставил весь мир трепетать в ужасе перед
						чудовищными героями и кошмарными событиями. Он
						показал, что от страха можно избавиться,
						встретившись с ним лицом к лицу. Невозможно
						поверить, что его первая рукопись стоила всего 5
						центов, а сейчас читать книги Стивена Кинга любят во
						всем мире.
					</p>
					<button class="main_button">Добавить в избранное</button>
				</div>
			</div>
		</section>

		<section class="authors_book">
			<div class="slider_block">
						<h3>Книги</h3>
						<div id="carouselExampleIndicators" class="carousel customCarousel carousel-dark slide">
			        		<div class="carousel-inner w-100">
							<div class="carousel-item active">
								<div class="row">
									<div class="col-md-2 col-4 mb-3">
											<div class="card customBookCard">
											   <img src="/assets/img/book.jpg">
												<div class="card-body">
													<h4 class="card-title title_on_main">Бизнес на пальцах</h4>
													<p class="card-text text_on_main">Стивен Кинг</p>
												</div>
											</div>
										</div>
								   <div class="col-md-2 col-4 mb-3">
											<div class="card customBookCard">
											   <img src="/assets/img/book.jpg">
												<div class="card-body">
													<h4 class="card-title title_on_main">Бизнес на пальцах</h4>
													<p class="card-text text_on_main">Стивен Кинг</p>
												</div>
											</div>
										</div>
									<div class="col-md-2 col-4 mb-3">
											<div class="card customBookCard">
											   <img src="/assets/img/book.jpg">
												<div class="card-body">
													<h4 class="card-title title_on_main">Бизнес на пальцах</h4>
													<p class="card-text text_on_main">Стивен Кинг</p>
												</div>
											</div>
										</div>
									<div class="col-md-2 col-4 mb-3">
											<div class="card customBookCard">
											   <img src="/assets/img/book.jpg">
												<div class="card-body">
													<h4 class="card-title title_on_main">Бизнес на пальцах</h4>
													<p class="card-text text_on_main">Стивен Кинг</p>
												</div>
											</div>
										</div>
									<div class="col-md-2 col-4 mb-3">
											<div class="card customBookCard">
											   <img src="/assets/img/book.jpg">
												<div class="card-body">
													<h4 class="card-title title_on_main">Бизнес на пальцах</h4>
													<p class="card-text text_on_main">Стивен Кинг</p>
												</div>
											</div>
										</div>
			                    		<div class="col-md-2 col-4 mb-3">
											<div class="card customBookCard">
											   <img src="/assets/img/book.jpg">
												<div class="card-body">
													<h4 class="card-title title_on_main">Бизнес на пальцах</h4>
													<p class="card-text text_on_main">Стивен Кинг</p>
				                        		</div>
				                    		</div>
				                		</div>
			                		</div>
			            		</div>
							<div class="carousel-item">
								<div class="row">
									<div class="col-md-2 col-4 mb-3">
											<div class="card customBookCard">
											   <img src="/assets/img/book.jpg">
												<div class="card-body">
													<h4 class="card-title title_on_main">Бизнес на пальцах</h4>
													<p class="card-text text_on_main">Стивен Кинг</p>
				                        		</div>
				                    		</div>
				                		</div>
									<div class="col-md-2 col-4 mb-3">
											<div class="card customBookCard">
											   <img src="/assets/img/book.jpg">
												<div class="card-body">
													<h4 class="card-title title_on_main">Бизнес на пальцах</h4>
													<p class="card-text text_on_main">Стивен Кинг</p>
				                        		</div>
				                    		</div>
				                		</div>
									<div class="col-md-2 col-4 mb-3">
											<div class="card customBookCard">
											   <img src="/assets/img/book.jpg">
												<div class="card-body">
													<h4 class="card-title title_on_main">Бизнес на пальцах</h4>
													<p class="card-text text_on_main">Стивен Кинг</p>
				                        		</div>
				                    		</div>
				                		</div>
									<div class="col-md-2 col-4 mb-3">
											<div class="card customBookCard">
											   <img src="/assets/img/book.jpg">
												<div class="card-body">
													<h4 class="card-title title_on_main">Бизнес на пальцах</h4>
													<p class="card-text text_on_main">Стивен Кинг</p>
				                        		</div>
				                    		</div>
				                		</div>
									<div class="col-md-2 col-4 mb-3">
											<div class="card customBookCard">
											   <img src="/assets/img/book.jpg">
												<div class="card-body">
													<h4 class="card-title title_on_main">Бизнес на пальцах</h4>
													<p class="card-text text_on_main">Стивен Кинг</p>
				                        		</div>
				                    		</div>
				                		</div>
									<div class="col-md-2 col-4 mb-3">
										<div class="card customBookCard">
										   <img src="/assets/img/book.jpg">
				                       			<div class="card-body">
				          	                		 <h4 class="card-title title_on_main">Бизнес на пальцах</h4>
				                            		<p class="card-text text_on_main">Стивен Кинг</p>
				                       			</div>
				                   			</div>
				                		</div>
			                		</div>
			            		</div>
			        		</div>
			        		<div class="col-12 text-center">
								<button class="btn btn-warning mb-3 " type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
									<i class="fa fa-arrow-left"></i>
								</button>
								<button class="btn btn-warning mb-3 " type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
									 <span class="fa fa-arrow-right" aria-hidden="true"></span>
								</button>
		   					</div>
  						</div>
				</div>
		</section>
</body>
</html>