@using MyBook.Entities
@model MyBook.Entities.Author
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Author"] - MyBook</title>
</head>
<body>
	<section class="about_author">
			<div class="about_author_wrapper">
				<div class="photo">
					<img src="/assets/img/non.png">
				</div>
				<div class="info">
					<h1>@Model.Name</h1>
					<h5>Дата рождения: 20.02.2003</h5>
					<br>
					<p>Стивен Кинг, признанный король ужасов, родился в
						американском городе Портленде в 1947 году. Он рос
						обычным ребенком, пока не стал свидетелем смерти
						своего друга под колесами поезда. С тех пор мальчик
						стал заложником собственных страхов. Частыепереезды, тяжелые болезни и отсутствие отца в семье лишь
						усугубили маниакальность ребенка.
					</p>
					<button class="main_button">Добавить в избранное</button>
				</div>
			</div>
		</section>

		<section class="authors_book">
			<div class="container customCarousel">
				<h3>Книги</h3>
				@await Component.InvokeAsync("BooksCarousel",new List<Book>(Model.AuthorBooks.Select(book => book.Book).ToList()))
			</div>
		</section>
</body>
</html>