
<body class="lock">
    <section class="modal_wrapper">
        <div class="main_content_page">
            <div class="wrapper_modal_content">
                <div class="modal_view">
                    <div class="modal_name mod_form">
                        <h3>Вы действительно хотите безвозвратно удалить это?</h3>
                        <div class="up_btn">
                            <button class="close_modal">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                    <img src="/assets/img/close.svg">
                                </a>
                            </button>
                        </div>
                    </div>
                    <div class="d-flex ">
                        <div class="mod_but_form">
                            <button class="btn-warning btn_spec">Удалить</button>
                        </div>
                        <div class="mod_but_form">
                            <button class="btn-warning btn_spec">Отменить</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</body>
